<!DOCTYPE html>
<html>
    <head>
    </head>

    <body>
        <div class= "container">
       
        <body bgcolor="Pink"></body>
        <h1 align="center ">Mostaphe's Personal Website</h1>

        <h2>Biography</h2>
        <b>Mostaphe is a computer science major and economics doable major at Berea College and an aspiring software engineer. 
            Outside of school and work he enjoys nature, likes to hike and rear the New York times</b>
        <b>To learn more about Mostaphe click here <button>Resume</button> </b>


        <h2>Skills</h2>
        <b1>
            <ul>
            <li>Microsoft Office: Excel, Word, PowerPoint (Proficient)
            <li>Programming Languages: Python (Intermediate)</li>
            <li>Web technologies: HTML, CSS (Beginner)</li>
        </ul>
        <h2>Experience</h2>
        <b1>Complex Assistant, Information Desk at Student Life Office, Berea College, Berea, KY (Part-time) Jan 2022- Present</b1>
        <ul>
            <li>Keep 1600+ students engaged and entertained by initiating and organizing different ideas and events</li>
            <li>Serve students and staff campus-wide by giving them information about shuttles, on-campus, and outdoor events</li>
            <li>Maintain and run the technology instruments of the desk</li>
            <li>Talk to visitors and prospective students and their families</li>
        </ul>
        <p>
        <b2>Tech Forward Fellow, HBCU 20x20, Atlanta, Georgia, United States March 2017- Present</b2>
        <ul>
            <li>Developed technical skills in Software Engineering, UI/UX Design & Product Management</li>
            <li>Explored tools that enable users to interact with front & back-end software engineering</li>
            <li>Engaged in personal mentoring on mastering technical interviews</li>
            <li>Networked with software engineers from top-tier companies</li>
        </ul>
    </p>
        <h2>Contact Information</h2>
        <p>
            Fill out this form if you want to contact me 
        </p>

        <form action="" method="post">

           <label for= "Sender'sname"> Name </label>
           <input type="text" class="form-control" id="Sender'sname">

           <label for= "Sender'semail"> Email Adress  </label>
           <input type="text" class="form-control" id="Sender'semail">

           <label for= "messageSubject"> Subject </label>
           <input type="text" class="form-control" id="messageSubject">

           <label for="message"> Message </label>
           <textarea name="message" id="message" cols="30" rows="7"></textarea>

           <button type="button" class="btn btn-primary" id="sendButton"> Press Here </button>

           <div id="result"> Result: </div>
        </form>

        
        <ul>
            <li> Phone number: 614 592 6878</li>
            <li> Email adress: mostaphe.7@gmail.com</li>
            <li> 
                <a href=" https://www.linkedin.com/in/mostaphemohamud/">LinkedIn</a>

            </li>
            <li> Github </li>
            
        </ul>
    
    
    </div>
    <script src="/static/index2.js/"></script>
    </body>
</html>
